<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>


<p>Reviews:</p>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> - <%= review.rating %>
    <% end %>

<div>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
</div>
